* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: sans-serif, system-ui;
	padding: 2rem 0.5rem;
	margin: 0;
	background: #fbfbfb;
	color: #232323;
}

main {
	width: 100%;
	max-width: 900px;
	background: white;
	padding: 1rem 1.5rem;
	border-radius: 5px;
}

a {
	color: #0b5ed7;
}

a:visited {
	color: #5e38a4;
}

h1 {
	font-weight: 800;
}

ul {
	padding: 0;
	list-style-type: none;
}

ul li {
	margin-bottom: .5rem;
	display: flex;
	flex-direction: column;
	gap: .3rem;
}

ul li a {
	font-size: 1.2rem;
}

ul.lists {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

ul.lists li {
	width: 50%;
	margin-bottom: 1rem;
}

.claim {
	width: 100%;
	text-wrap: balance;
	margin-bottom: 2rem;
}

.breadcrumbs {
	font-size: .85rem;
}

@media (max-width: 800px) {
	body {
		padding: 0 !important;
	}

	ul.lists li {
		width: 100%;
	}
}

@media (prefers-color-scheme: dark) {
	a {
		color: #69a5fe;
	}

	a:visited {
		color: #c1aee4;
	}

	body {
		background: #111111;
		color: #fbfbfb;
	}

	main {
		background: #141414;
	}
}
