{% if lists %}
<ul class="lists">
	{% for list in lists %}
		<li>
			<a href="/{{ list.slug }}">{{ list.name }}</a>
			{% if list.description %}
				<p>{{ list.description }}</p>
			{% endif %}
		</li>
	{% endfor %}
</ul>
{% endif %}

{% if links %}
<ul>
	{% for link in links %}
	<li>
		<div>
			<a href="{{ link.url }}" rel=noopener>{{ link.title or link.url }}</a>
			{% if link.title != link.domain %}
				<small>({{ link.domain }})</small>
			{% endif %}
		</div>
		{% if link.description %}
			<p>{{ link.description }}</p>
		{% endif %}
	</li>
	{% endfor %}
</ul>
{% endif %}
